@font-face {
	font-family: Noto Sans TC;
	src: url(https://fonts.gstatic.com/s/notosanstc/v11/-nFkOG829Oofr2wohFbTp9i9kwMvCA.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Noto Sans TC;
	src: url(https://fonts.gstatic.com/s/notosanstc/v11/-nF7OG829Oofr2wohFbTp9iFPA.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Noto Sans TC;
	src: url(https://fonts.gstatic.com/s/notosanstc/v11/-nFkOG829Oofr2wohFbTp9i9ywIvCA.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Noto Sans TC;
	src: url(https://fonts.gstatic.com/s/notosanstc/v11/-nFkOG829Oofr2wohFbTp9i9gwQvCA.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Noto Sans TC;
	src: url(https://fonts.gstatic.com/s/notosanstc/v11/-nFkOG829Oofr2wohFbTp9i9uwYvCA.woff) format("woff");
	font-weight: 900;
	font-style: normal;
}
